.main-container {
    max-width: 960px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
  }

  .new-member-form {
    margin: 2em 0 4em 0;
    text-align: center;
  }

  .member-list {
    display: flex;
    justify-content: center;
  }

  .member-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding: 0 0.5rem;
    width: 100%;
  }

  .argos {
    width: 31.6%;
    margin-right: 0.5rem;
  }